h1 {
    display:inline-block;
}
#lander h2 {
    text-align: right;
}
#lander {
    display:block;
}
#experience {
    transition-duration: 2s;
}
#experience div {
    display:inline-block;
    width:30vw;
    padding:3vw;
}
nav {
    display:inline-flex;
    align-self: right;
    margin-left:20vw;
}
nav li {
    list-style: none;
    align-self: right;
    display:inline-flex;
    margin: 5px;
}
nav li a {
    text-decoration: none;
    font-size: 1rem;
}